---
import logoMain from "../assets/logo-main.svg";
---

<main class="flex flex-col w-full h-full bg-black">
    <div class="flex flex-col text-white items-left h-[100vh]w-[100vw]">
        <img src={logoMain.src} alt="Logo" class="w-[20rem] h-[10rem] "/>
        <h1 >Coding with character.</h1>
        <p>Self-taught developer focused on frontend magic, backend logic and bringing ideas to life.
        </p>
    </div>
    
</main>